root = true

[*]
charset = utf-8

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none
