*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Quatrimo/Quatrimo/bin/
Quatrimo/bin/
Quatrimo/Quatrimo/obj/
Quatrimo/obj/
Quatrimo/Content/obj/
!Quatrimo/x64
!Quatrimo/x86
!Quatrimo/Libraries
